$CHARACTERS_STRING: "0123456789abcdefghijklmnopqrstuvwxyzABSDEFGHIJKLMNOPQRSTUVWXYZ";
$CHARACTERS: ();
@for $i from 1 through str-length($CHARACTERS_STRING) { $CHARACTERS: append($CHARACTERS, str-slice($CHARACTERS_STRING, $i, $i)); }

@function random-str($len: 1) {
	$str: "";
	@for $i from 1 through $len { $str: $str + nth($CHARACTERS, random(str-length($CHARACTERS_STRING))); }
	@return $str;
}